<%= render 'layouts/header' %>

<div class="container theme-showcase">
  <div style="text-align:left;">
    <h1>User List
      <span style="float:right;">
        <%= link_to "New User", new_user_path(), :class => "btn btn-primary" %>
      </span>
    </h1>
      <table class="table">
      <tr>
        <th>Name</th>
        <th>Email Address</th>
        <th>Phone Number</th>
        <th>Actions</th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.full_name %></td>
          <td><%= user.email_address %></td>
          <td><%= user.phone_number %></td>
          <td class="btn-group" role="group" aria-label="...">
            <%= link_to "Show", user_path(user), :class => "btn btn-primary" %>
            <%= link_to "Edit", edit_user_path(user), :class => "btn btn-success" %>
            <%= link_to "Delete", user_path(user),  method: :delete, :class => "btn btn-danger", data: { confirm: 'Delete user?' } %>
          </td>
        </tr>
      <% end %>
  </table>
</div>

<%= render 'layouts/footer' %>
