<p>
  <strong>Name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Email Address:</strong>
  <%= @user.email_address || "--" %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @user.phone_number || "--" %>
</p>

<%= link_to 'Back', users_path %>
<%= link_to 'Edit', edit_user_path(@user) %>
