<%= render 'layouts/header' %>

<div class="ui container grid" >

  <% if !current_user&.affiliated_organization and !current_user&.enabled %>

  <h1 align="center">Welcome to House Manager!</h1>
  <p>
    It appears that you currently are not affiliated with an organization. To do so, go to user options and select your organization from the dropdown. Once your organization manager adds you, you'll be all set!
  </p>

  <% else  %>

  <div class="row">
    <div class="four wide column">
      <div class="ui segment">
        <div class="ui center aligned header">
          Upcoming Late Plates
        </div>
        <% if @late_plates&.count > 0 %>
          <div class="ui bulleted list">
          <% @late_plates.each do |late_plate| %>
            <div class="item">
              <%= late_plate.full_name %>
            </div>
          <% end %>
          </div>
        <% else %>
        <div class="item">
          You have no upcoming late plates.
        </div>
        <% end %>
      </div>

      <% if current_user.has_role?(Role.where(label: ['Organization Manager', 'House Manager'])) %>

      <div class="ui segment">
        <div class="ui center aligned header">
          Maintenance Requests
        </div>
        <div class="ui bulleted list">
          <% if @maintenance_requests&.count > 0 %>
            <% @maintenance_requests.each do |request| %>
              <div class="item">
                <% if request.priority_id == 1 %>
                  <div class="ui fluid green label" align="center">
                <% elsif request.priority_id == 2 %>
                  <div class="ui fluid yellow label" align="center">
                <% elsif request.priority_id == 3 %>
                  <div class="ui fluid orange label" align="center">
                <% else %>
                  <div class="ui fluid red label" align="center">
                <% end %>
                    <%= request.issue_title %>
                  </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <% end %>

      <div class="ui segment">
        <div class="ui center aligned header">
          Upcoming Events
        </div>
        <div class="item">
          Coming Soon (~0.8)
        </div>
      </div>
    </div>

    <div class="twelve wide column">
      <div class="ui segment">
        <h1 class="ui center aligned header">
          Announcements
        </h1>

        <div class="ui feed">
          <% if @announcements&.count > 0 %>
            <% @announcements.each do |announcement| %>
              <div class="event">
                <div class="label">
                  <%= image_tag announcement.author_image %>
                </div>
                <div class="content">
                  <div class="summary">
										<%= announcement.author_name%> posted '<%= link_to announcement.title, announcement %>'
										<div class="date">
									    <%= time_ago_in_words(announcement.created_at) %> ago on <%= announcement.post_date %>
								    </div>
									</div>
                  <div class="ui segment">
                    <%= markdown(announcement.body) %>
                  </div>
                  <div class="ui equal width grid">
                    <div class="row">
                      <% if policy(announcement).update? %>
                        <div class="column">
                          <%= link_to "Edit Announcement", edit_announcement_path(announcement), class:"ui green fluid button" %>
                        </div>
                      <% end %>
                      <% if policy(announcement).destroy? %>
                        <div class="column">
                        <%= link_to "Delete Announcement", announcement_path(announcement), method: :delete, class:"ui red fluid button" %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ui divider"></div>
            <% end %>
          <% else %>

            <div class="ui center aligned segment">
              <strong>No Announcements</strong>
            </div>

          <% end %>
          </br>
          <div class="ui equal width grid">
            <div class="row">
              <div class="column">
                <%= link_to "See more announcements", announcements_path(), :class => "ui primary fluid button" %>
              </div>
              <div class="column">
                <%= link_to "Make new announcement", new_announcement_path(), :class => "ui green fluid button" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% end %>

</div>

<%= render 'layouts/footer' %>
