<%= form_for @meal, html: {class: 'ui form error'} do |f| %>

  <% if @meal.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@meal.errors.count, "error") %> prohibited
        this meal time from being saved:
      </h2>
      <ul>
        <% @meal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inline fields">
    <div class="six wide field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="six wide field">
      <%= f.label :time %>
      <div class="ui icon input conflictable">
        <%= f.text_field :time, :id => "timepicker", :value => Time.now.strftime("%l:%M %p"), :class=>'timepicker' %>
        <i class="clock icon"></i>
      </div>
    </div>
  </div>

  <div class="ui equal width grid">
    <div class="row">
      <div class="column">
        <%= f.submit 'Submit', :class => 'ui primary fluid button' %>
      </div>
      <div class="column">
        <%= link_to "Back to Meal Times", meals_path(), :class => "ui primary fluid button" %>
      </div>
    </div>
  </div>

<% end %>
