<%= form_for @meal do |f| %>
  <% if @meal.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@meal.errors.count, "error") %> prohibited
        this meal time from being saved:
      </h2>
      <ul>
        <% @meal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :time %>
    <div class="input-group">
    <%= f.text_field :time, :id => "datepicker", :value => Date.today, :class=>'form-control' %>
    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
  </div>
  </br>
  <div>
    <%= f.submit 'Submit', :class => 'btn btn-default' %>
  </div>
<% end %>

<script>
$('#datepicker').datepicker({format: 'LT'});
</script>
