<%= render 'layouts/header' %>

<div class="ui container segment">
  <h1 class="centered ui header">
    Meals
  </h1>
  <table class="ui celled compact striped three column table">
    <tr>
      <th align="center">Name</th>
      <th align="center">Time</th>
      <th align="center">Actions</th>
    </tr>
    <% @meals.each do |meal| %>
    <tr>
      <td style="text-align:center;"><%= meal.name %></td>
      <td style="text-align:center;"><%= meal.time.strftime("%l:%M %p") %></td>
      <td style="text-align:center;">
        <%= link_to "Edit", edit_meal_path(meal), :class => "ui green button" %>
        <%= link_to "Delete", meal_path(meal),  method: :delete, :class => "ui red button", data: { confirm: 'Delete meal time?' } %>
      </td>
    </tr>
    <% end %>
  </table>
  <div>
    <%= link_to "Create a new meal time", new_meal_path(), :class => "ui primary fluid button" %>
  </div>
</div>

<%= render 'layouts/footer' %>
