<%= render 'layouts/header' %>

<div class="container theme-showcase">
  <p>
    <strong>Name:</strong>
    <%= @organization.full_name %>
  </p>

  <p>
    <strong>Abbreviation:</strong>
    <%= @organization.abbreviation %>
  </p>

  <p>
    <strong>School:</strong>
    <%= @organization.school %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @organization.address %>
  </p>

  <p>
    <strong>Org Manager:</strong>
    <%= @organization.organization_manager || "--" %>
  </p>
</div>

<%= render 'layouts/footer' %>
