<%= render 'layouts/header' %>

<div class="container theme-showcase">

  <div style="text-align:left;">
    <h1>
      <%= @organization.full_name %>
    </h1>
    <div>
      <p>
        <strong>Abbreviation:</strong>
        <%= @organization.abbreviation %>
      </p>
      <p>
        <strong>School:</strong>
        <%= @organization.school %>
      </p>
      <p>
        <strong>Address:</strong>
        <%= @organization.address %>
      </p>
      <p>
        <strong>Org Manager:</strong>
        <%= @organization.manager_name %>
      </p>
    </div>
    <h2>
      Provisional Members
    </h2>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Email Address</th>
        <th>Phone Number</th>
        <th>Actions</th>
      </tr>
      <% @organization.provisional_members.each do |user| %>
        <tr>
          <td><%= user.full_name %></td>
          <td><%= user.email_address %></td>
          <td><%= user.phone_number %></td>
          <td class="btn-group" role="group" aria-label="...">
            <%= link_to "Approve", user_path(user), :class => "btn btn-primary" %>
            <%= link_to "Delete", user_path(user),  method: :delete, :class => "btn btn-danger", data: { confirm: 'Delete user?' } %>
          </td>
        </tr>
      <% end %>
    </table>
    <h2>
      Organization Members
    </h2>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Email Address</th>
        <th>Phone Number</th>
        <th>Actions</th>
      </tr>
      <% @organization.organization_members.each do |user| %>
        <tr>
          <td><%= user.full_name %></td>
          <td><%= user.email_address %></td>
          <td><%= user.phone_number %></td>
          <td class="btn-group" role="group" aria-label="...">
            <%= link_to "Show", user_path(user), :class => "btn btn-primary" %>
            <%= link_to "Edit", edit_user_path(user), :class => "btn btn-success" %>
            <%= link_to "Delete", user_path(user),  method: :delete, :class => "btn btn-danger", data: { confirm: 'Delete user?' } %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>


<%= render 'layouts/footer' %>
