<%= form_for @late_plate do |f| %>
  <% if @late_plate.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@late_plate.errors.count, "error") %> prohibited
        this late plate from being saved:
      </h2>
      <ul>
        <% @late_plate.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :meal %>
    <%= f.collection_select(:meal, Meal.all, :id, :name, {:class=>'form-control'}) %>
  </div>

  <div class="form-group">
    <%= f.label :day %>
    <%= f.date_select :day, {order: [:day, :month, :year]} %>
  </div>

  <div>
    <%= f.submit 'Submit', :class => 'btn btn-default' %>
  </div>
<% end %>
