<%= render 'layouts/header' %>

<div class="ui container segment">
  <h1 class="centered ui header">
    Late Plates
  </h1>
  <h3 class="ui dividing header">
    Next Meal Requests
  </h3>
  <table class="ui celled striped sortable five column table">
    <tr>
      <th align="center">Name</th>
      <th align="center">Meal</th>
      <th align="center">Day</th>
      <th align="center">Completed</th>
      <th align="center">Actions</th>
    </tr>
    <% @next_meals_plates&.each do |meal_request| %>
      <tr>
        <td style="text-align:center;"><%= meal_request.requester_name %></td>
        <td style="text-align:center;"><%= meal_request.meal_name %></td>
        <td style="text-align:center;"><%= meal_request.day.strftime("%m/%d/%Y") %></td>
        <% if meal_request.completed %>
        <td style="text-align:center;">
          <div class="ui green label">Done</div>
        </td>
        <% else %>
        <td style="text-align:center;">
          <div class="ui blue label">Not yet done</div>
        </td>
        <% end %>
        <td style="text-align:center;">
          <% if current_user.id == meal_request.user_id %>
            <%= link_to "Delete", late_plate_path(meal_request),  method: :delete, :class => "ui red button", data: { confirm: 'Delete late plate request?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <% if current_user.late_plates.present? %>

  <h3 class="ui dividing header">
    My Future Meal Requests
  </h3>
  <table class="ui celled striped sortable five column table">
    <tr>
      <th align="center">Name</th>
      <th align="center">Meal</th>
      <th align="center">Day</th>
      <th align="center">Completed</th>
      <th align="center">Actions</th>
    </tr>
    <% current_user.late_plates.each do |late_plate| %>
      <tr>
        <td style="text-align:center;"><%= late_plate.requester_name %></td>
        <td style="text-align:center;"><%= late_plate.meal_name %></td>
        <td style="text-align:center;"><%= late_plate.day.strftime("%m/%d/%Y") %></td>
        <% if late_plate.completed %>
        <td style="text-align:center;">
          <div class="ui green label">Done</div>
        </td>
        <% else %>
        <td style="text-align:center;">
          <div class="ui blue label">Not yet done</div>
        </td>
        <% end %>
        <td style="text-align:center;">
          <%= link_to "Delete", late_plate_path(late_plate),  method: :delete, :class => "ui red button", data: { confirm: 'Delete late plate request?' } %>
        </td>
      </tr>
    <% end %>
  </table>
  <% end %>
  <div>
    <%= link_to "Make a Late Plate Request", new_late_plate_path(), :class => "ui primary fluid button" %>
  </div>
</div>

<%= render 'layouts/footer' %>
