<%= render 'layouts/header' %>

<div class="container theme-showcase">
  <div style="text-align:left;">
    <h1>Late Plate Requests
      <span style="float:right;">
        <%= link_to "Make a Late Plate Request", new_late_plate_path(), :class => "btn btn-primary" %>
      </span>
    </h1>
      <table class="table">
      <tr>
        <th>Name</th>
        <th>Meal</th>
        <th>Day</th>
        <th>Completed</th>
      </tr>
      <% @late_plates.each do |late_plate| %>
        <tr>
          <td><%= late_plate.requester %></td>
          <td><%= late_plate.meal_id %></td>
          <td><%= late_plate.day %></td>
          <td><%= late_plate.completed %></td>
          <td class="btn-group" role="group" aria-label="...">
            <%= link_to "Show", late_plate_path(late_plate), :class => "btn btn-primary" %>
            <%= link_to "Edit", edit_late_plate_path(late_plate), :class => "btn btn-success" %>
            <%= link_to "Delete", late_plate_path(late_plate),  method: :delete, :class => "btn btn-danger", data: { confirm: 'Delete late plate request?' } %>
          </td>
        </tr>
      <% end %>
  </table>
</div>

<%= render 'layouts/footer' %>
