<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
		  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      </a>
    </div>
    <% if current_user %>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if policy(:organization).index? %>
        <li>
          <%= link_to 'Organizations', organizations_path %>
        </li>
        <% end %>
        <li>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administrative Tasks<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Manage User Roles</a></li>
            <li><a href="#">Create Organizations</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        <li>
        <% if policy(:admin).home? %>
          <%= link_to "Admin", admin_path %>
        <% end %>
        </li>
        <li>
          <%= link_to "My Profile", user_path(current_user) %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to 'Edit Profile', edit_user_path(current_user) %>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <%= link_to 'Log Out', signout_path %>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    <% end %>
  </div><!-- /.container-fluid -->
</nav>
